/*
=======================================================================
[Table of contents]
=========================================================================
01. COMMON STYLES 
02. HEADER 
03. NAV 
04. WELCOME SECTION 
*/

/*---------------------------------------
PRELOADER STYLES             
-----------------------------------------*/
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    transition: 1s 0.4s;
    z-index: 9999999;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}

/*---------------------------------------
COMMON STYLES             
-----------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden !important;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    overflow-x: hidden !important;
}
a, a:hover, a:focus {
    color: #50B848;
    outline: none;
    text-decoration: none;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
p{
    margin: 0;
}
.container {
    position: relative;
}
.page .lazy-hidden, .page .entry img.lazy-hidden, .page img.thumbnail.lazy-hidden {
    opacity: 1;
    background-color: transparent;
}
@media screen and (min-width: 1700px) {
    .container {
        max-width: 1300px;
    }
    .fullpage-wrapper .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 1600px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .elementor-section.elementor-inner-section.elementor-section-boxed > .elementor-container {
        max-width: 1600px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .single-director .elementor-section.elementor-inner-section.elementor-section-boxed > .elementor-container {
        padding: 0;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1700px) {
    .container {
        max-width: calc(100% - 100px);
    }
    .fullpage-wrapper .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: calc(100% - 100px);
        padding: 0 15px;
        margin: 0 auto;
    }
    .elementor-section.elementor-inner-section.elementor-section-boxed > .elementor-container {
        max-width: calc(100% - 100px);
        padding: 0 15px;
        margin: 0 auto;
    }
    .single-director .elementor-section.elementor-inner-section.elementor-section-boxed > .elementor-container {
        max-width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 1075px) {
    .container {
        max-width: 100%;
    }
    .fullpage-wrapper .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
    .elementor-section.elementor-inner-section.elementor-section-boxed > .elementor-container {
        max-width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
}
.parallaxParent {
    height: 100vh;
}
.parallaxParent > * {
    height: 100%;
    position: relative;
}
.parallaxParent .elementor-container {
    height: 100%;
}
.parallaxParent .elementor-element {
    height: 100%;
}
.parallaxParent .elementor-widget-container {
    height: 100%;
    display: flex;
    flex-flow: wrap row;
}
@media screen and (max-width: 1075px) {
    .front-page .page-content {
        padding-right: 65px;
        background-color: #363636;
    }
}



/* ------------------------------   banner area   ------------------------------ */


.exceed-banner {
    background-color: #2E2E2E;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}
.banner-row {
    display: flex;
    align-items: center;
}
.content-area,
.video-content-area {
    width: 50%;
    max-width: 650px;
}
.global-satellite-container {
    margin: 0 auto;
    padding: 209px 0 116px;
}
.global-satellite-container h2 {
    font-weight: 600;
    font-size: 64px;
    line-height: 73px;
    color: #FFFFFF;
    max-width: 510px;
    margin-bottom: 36.5px;
}
.global-satellite-container .sub-title-area {
    font-size: 35px;
    line-height: 46px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.global-satellite-container .sub-title-area span:first-child {
    font-weight: 300;

}
.global-satellite-container .sub-title-area span:last-child {
    font-weight: 600;
    color: #50B848;
}
a.download-flyer-btn {
    background-color: #50B848;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    color: #FFF;
    font-weight: 700;
    font-size: 18.65px;
    line-height: 20px;
    padding: 18px 30px;
    border-radius: 5px;
    text-transform: uppercase;
}
a.download-flyer-btn span:first-child {
    margin-right: 15px;
}
a.download-flyer-btn span:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background-color: #FFF;
}
.video-content-area {
    display: flex;
    justify-content: flex-end;
}
.video-bg-img {
    width: 100%;
    height: 100%;
    min-height: 445px;
    background: left no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 590.76px;
    border: .1rem solid #50B848;
    border-radius: 22px;
    box-shadow: 0px 4px 44px #1A1717;
}
a.video-play-btn {
    width: 115px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgb(120 195 112 / 90%);
    border: 5px solid #50B848;
    box-shadow: 0px 14.96px 46.5px #449F3D;
}

/* -------------------------------   zoleo connection that matter   ------------------------------- */


.zoleo_connections-that-matter {
    background-color: #f8f8f8;
}
.zoleo_connections-that-matter .container {
    margin: 0 0 0 auto;
    padding-left: 208px;
    padding-right: 310px;
    padding-top: 60px;
    padding-bottom: 55px;
    background-color: #2E2E2E;
    color: #FFF;
    z-index: 1;
}
.zoleo_connections-that-matter .container::after {
    position: absolute;
    content: '';
    width: calc(100% - 50px);
    height: 1px;
    border-bottom: 1px solid #58595B;
    top: 232px;
    left: 50px;
    z-index: -2;
}
.zoleo_bg-x-icon {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -412px;
    mix-blend-mode: darken;
}
.zoleo_connection-mobile-product-img {
    position: absolute;
    z-index: -1;
    top: 83px;
    left: -530px;
}
.zoleo_connections-that-matter h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    color: #50B848;
    margin-bottom: 60px;
}
.zoleo_connections-that-matter .single-feature-content {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
    padding: 25px 0;
    position: relative;
}
.zoleo_connections-that-matter .single-feature-content:not(:last-child)::after {
    position: absolute;
    content: '';
    width: calc(100% - 10px);
    left: 10px;
    bottom: 0;
    border-bottom: 1px solid #58595B;
}
.zoleo_connections-that-matter .icon-container {
    max-width: 40px;
    max-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 33px;
}
.zoleo_connections-that-matter .content-area {
    width: 100%;
    max-width: 650px;
}
.zoleo_connections-that-matter .feature-text-content {
    display: flex;
    min-height: 70px;
    align-items: center;
}
.connection-subscription-area {
    font-weight: 500;
    font-size: 20px;
    line-height: 37px;
    color: #50B848;
}


/* -------------------------------   zoleo SOS area   ------------------------------- */




.zoleo_sos-featuer-area .container {
    margin: 0 auto;
    padding-top: 150px;
}
.zoleo_sos-feature-row {
    display: flex;
    flex-wrap: wrap;
}
.zoleo_sos-featuer-area .content-container {
    width: 100%;
    max-width: 698px;
}
.zoleo_sos-feature-row h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #50B848;
    margin-bottom: 30px;
}
.zoleo_sos-feature-row .description-container {
    font-weight: 400;
    font-size: 18px;
    line-height: 39px;
    color: #353535;
}
.zoleo_sos-feature-row .img-container {
    width: 100%;
    max-width: 582px;
}
.zoleo_sos-feature-row .img-container img {
    object-fit: cover;
}





















