/*
=======================================================================
[Table of contents]
=========================================================================
01. COMMON STYLES 
02. HEADER 
03. NAV 
04. WELCOME SECTION 
*/

/*---------------------------------------
PRELOADER STYLES             
-----------------------------------------*/
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    transition: 1s 0.4s;
    z-index: 9999999;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}

/*---------------------------------------
COMMON STYLES             
-----------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden !important;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    overflow-x: hidden !important;
}
a, a:hover, a:focus {
    color: #50B848;
    outline: none;
    text-decoration: none;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
h2 {
    color: #50B848;
}
p{
    margin: 0;
}
.container {
    position: relative;
}
.page .lazy-hidden, .page .entry img.lazy-hidden, .page img.thumbnail.lazy-hidden {
    opacity: 1;
    background-color: transparent;
}
@media screen and (min-width: 1700px) {
    .container {
        max-width: 1300px;
    }
    .fullpage-wrapper .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 1600px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .elementor-section.elementor-inner-section.elementor-section-boxed > .elementor-container {
        max-width: 1600px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .single-director .elementor-section.elementor-inner-section.elementor-section-boxed > .elementor-container {
        padding: 0;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1700px) {
    .container {
        max-width: calc(100% - 100px);
    }
    .fullpage-wrapper .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: calc(100% - 100px);
        padding: 0 15px;
        margin: 0 auto;
    }
    .elementor-section.elementor-inner-section.elementor-section-boxed > .elementor-container {
        max-width: calc(100% - 100px);
        padding: 0 15px;
        margin: 0 auto;
    }
    .single-director .elementor-section.elementor-inner-section.elementor-section-boxed > .elementor-container {
        max-width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 1075px) {
    .container {
        max-width: 100%;
    }
    .fullpage-wrapper .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
    .elementor-section.elementor-inner-section.elementor-section-boxed > .elementor-container {
        max-width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
}
.parallaxParent {
    height: 100vh;
}
.parallaxParent > * {
    height: 100%;
    position: relative;
}
.parallaxParent .elementor-container {
    height: 100%;
}
.parallaxParent .elementor-element {
    height: 100%;
}
.parallaxParent .elementor-widget-container {
    height: 100%;
    display: flex;
    flex-flow: wrap row;
}
@media screen and (max-width: 1075px) {
    .front-page .page-content {
        padding-right: 65px;
        background-color: #363636;
    }
}



/* ------------------------------   banner area   ------------------------------ */


.exceed-banner {
    background-color: #2E2E2E;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}
.banner-row {
    display: flex;
    align-items: center;
}
.content-area,
.video-content-area {
    width: 50%;
    max-width: 650px;
}
.global-satellite-container {
    margin: 0 auto;
    padding: 209px 0 116px;
}
.global-satellite-container h2 {
    font-weight: 600;
    font-size: 64px;
    line-height: 73px;
    color: #FFFFFF;
    max-width: 510px;
    margin-bottom: 36.5px;
}
.global-satellite-container .sub-title-area {
    font-size: 35px;
    line-height: 46px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.global-satellite-container .sub-title-area span:first-child {
    font-weight: 300;

}
.global-satellite-container .sub-title-area span:last-child {
    font-weight: 600;
    color: #50B848;
}
a.download-flyer-btn {
    background-color: #50B848;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    color: #FFF;
    font-weight: 700;
    font-size: 18.65px;
    line-height: 20px;
    padding: 18px 30px;
    border-radius: 5px;
    text-transform: uppercase;
}
a.download-flyer-btn span:first-child {
    margin-right: 15px;
}
a.download-flyer-btn span:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background-color: #FFF;
}
.video-content-area {
    display: flex;
    justify-content: flex-end;
}
.video-bg-img {
    width: 100%;
    height: 100%;
    min-height: 445px;
    background: left no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 590.76px;
    border: .1rem solid #50B848;
    border-radius: 22px;
    box-shadow: 0px 4px 44px #1A1717;
}
a.video-play-btn {
    width: 115px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgb(120 195 112 / 90%);
    border: 5px solid #50B848;
    box-shadow: 0px 14.96px 46.5px #449F3D;
}

/* -------------------------------   zoleo connection that matter   ------------------------------- */


.zoleo_connections-that-matter {
    background-color: #f8f8f8;
}
.zoleo_connections-that-matter .container {
    margin: 0 0 0 auto;
    padding-left: 208px;
    padding-right: 310px;
    padding-top: 60px;
    padding-bottom: 55px;
    background-color: #2E2E2E;
    color: #FFF;
    z-index: 1;
}
.zoleo_connections-that-matter .container::after {
    position: absolute;
    content: '';
    width: calc(100% - 50px);
    height: 1px;
    border-bottom: 1px solid #58595B;
    top: 232px;
    left: 50px;
    z-index: -2;
}
.zoleo_bg-x-icon {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -412px;
    mix-blend-mode: darken;
}
.zoleo_connection-mobile-product-img {
    position: absolute;
    z-index: -1;
    top: 83px;
    left: -530px;
}
.zoleo_connections-that-matter h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 60px;
}
.zoleo_connections-that-matter .single-feature-content {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
    padding: 25px 0;
    position: relative;
}
.zoleo_connections-that-matter .single-feature-content:not(:last-child)::after {
    position: absolute;
    content: '';
    width: calc(100% - 10px);
    left: 10px;
    bottom: 0;
    border-bottom: 1px solid #58595B;
}
.zoleo_connections-that-matter .icon-container {
    max-width: 40px;
    max-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 33px;
}
.zoleo_connections-that-matter .content-area {
    width: 100%;
    max-width: 650px;
}
.zoleo_connections-that-matter .feature-text-content {
    display: flex;
    min-height: 70px;
    align-items: center;
}
.connection-subscription-area {
    font-weight: 500;
    font-size: 20px;
    line-height: 37px;
    color: #50B848;
}


/* -------------------------------   zoleo SOS area   ------------------------------- */




.zoleo_sos-featuer-area .container {
    margin: 0 auto;
    padding-top: 150px;
}
.zoleo_sos-feature-row {
    display: flex;
    flex-wrap: wrap;
}
.zoleo_sos-featuer-area .content-container {
    width: 100%;
    max-width: 698px;
}
.zoleo_sos-feature-row h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 30px;
}
.zoleo_sos-feature-row .description-container {
    font-weight: 400;
    font-size: 18px;
    line-height: 39px;
    color: #353535;
}
.zoleo_sos-feature-row .img-container {
    width: 100%;
    max-width: 582px;
}
.zoleo_sos-feature-row .img-container img {
    object-fit: cover;
}







/* -------------------   Leader in Enterprise   ------------------- */

.cradlepoint_leader-in-enterprise {
    padding: 120px 0;
}
.cradlepoint_leader-in-enterprise .container {
    margin: 0 auto;
}
.cradlepoint_leader-in-enterprise .title-area {
    margin-bottom: 78px;
}
.cradlepoint_leader-in-enterprise .title-area h2 {
    text-align: center;
    font-weight: 600;
    font-size: 44px;
    line-height: 49px;
}
.cradlepoint_leader-in-enterprise .title-area span {
    color: #58595B;
}
.cradlepoint_leader-in-enterprise .feature-row {
    display: flex;
    justify-content: space-between;
}
.cradlepoint_leader-in-enterprise .single-feature {
    display: flex;
    width: calc(33.33% - 13px);
    padding: 35px 10px 35px 44px;
    border: 1px solid #DADADA;
    border-radius: 18px;
}
.cradlepoint_leader-in-enterprise .single-feature:not(:last-child) {
    margin-right: 20px;
}
.cradlepoint_leader-in-enterprise .icon-container {
    width: 100%;
    max-width: 70px;
    max-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 28px;
}
.cradlepoint_leader-in-enterprise .content-conteiner {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #58595B;
}
.cradlepoint_leader-in-enterprise .content-conteiner span.big-text {
    font-weight: 600;
    font-size: 38px;
    line-height: 49px;
    color: #50B848;
}
.cradlepoint_leader-in-enterprise .content-conteiner span.small-text {
    font-size: 18px;
}




/* ------------------------   Cradlepoint Enterprise Hardware   ------------------------ */


.crodlepoit_enterprise-hardware {
    background-color: #F8F8F8;
    padding-top: 110px;
    padding-bottom: 145px;
}
.crodlepoit_enterprise-hardware .container {
    margin: 0 auto;
}
.enterprise-hardware-product-row,
.hardware-office-product-row,
.hardware-five-g-adaptors-product-row {
    margin-bottom: 60px;
}
.hardware-five-g-adaptors-product-row {
    margin-bottom: 0;
}
.crodlepoit_enterprise-hardware .title-row {
    margin-bottom: 60px;
}
.crodlepoit_enterprise-hardware .title-row h2 {
    font-weight: 600;
    font-size: 44px;
    line-height: 49px;
    text-align: center;
}
.crodlepoit_enterprise-hardware .single-product {
    display: flex;
    position: relative;
    padding: 41px 10px 35px 25px;
    border-radius: 15px;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}
.enterprise-hardware-product-row .single-product {
    background-color: #FFF;
    color: #58595B;
}
.hardware-office-product-row .single-product {
    background-color: #50B848;
    color: #FFF;
}
.hardware-office-product-row .product-title h2 {
    color: #fff;
}
.hardware-five-g-adaptors-product-row .single-product {
    background-color: #3A3A3A;
    color: #FFF;
}
.crodlepoit_enterprise-hardware .single-product:not(:last-child){
    margin-bottom: 20px;
}
.crodlepoit_enterprise-hardware .product-img-container {
    width: 100%;
    max-width: 380px;
    padding-right: 30px;
    margin-right: 43px;
    border-right: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-detail-container {
    padding: 10px 0;
}
.product-detail-container .product-title {
    margin-bottom: 25px;
}
.product-detail-container h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
}
.product-detail-container .product-features {
    display: flex;
    flex-direction: column;
    min-height: 98px;
}
.product-detail-container .single-feature {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.product-detail-container .single-feature:not(:last-child) {
    margin-bottom: 10px;
}
.product-detail-container .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 10px;
    height: 26px;
    margin-right: 18px;
    width: 100%;
}
.product-detail-container .text-container {
    width: 100%;
    max-width: 630px;
}


/*  <!-- ------------------------   Telstra’s Direct Access : IP Wireless   ------------------------ -->  */




.telstra-direct-access {
    padding-top: 135px;
    padding-bottom: 78px;
}
.telstra-direct-access .container {
    margin: 0 auto;
}
.telstra-direct-access .title-row {
    margin-bottom: 100px;
}
.telstra-direct-access h2 {
    font-weight: 600;
    font-size: 44px;
    line-height: 49px;
    text-align: center;
}
.telstra-direct-access .feature-img-container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}


/* <!-- ------------------------   CLOUD  MANAGEMENT   ------------------------ --> */



.cloud-management-area-first {
    background-color: #3A3A3A;
    color: #FFF;
    padding: 90px 0 145px;
}

.cloud-management-area-first .container {
    margin: 0 auto;
}

.cloud-management-area-first .cloud-management-content-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cloud-management-area-first .title-row {
    margin-bottom: 110px;
}
.cloud-management-area-first .title-row h2 {
    font-weight: 600;
    font-size: 44px;
    line-height: 49px;
    text-align: center;
    color: #50B848;
}

.cloud-management-area-first .feature-area {
    margin-bottom: 55px;
}

.cloud-management-area-first .feature-container h2 {
    color: #fff;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    max-width: 580px;
    margin-bottom: 32px;
}

.cloud-management-area-first .single-feature {
    display: flex;
    font-size: 18px;
    line-height: 22px;
}

.cloud-management-area-first .single-feature:not(:last-child) {
    margin-bottom: 15px;
}
.cloud-management-area-first .cloud-management-content-area .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
    width: 10px;
    height: 22px;
}

.cloud-management-area-first .cloud-management-content-area .text-container {
    width: 100%;
    max-width: 470px;
}

a.netcloud-logo-btn {
    display: flex;
    margin-bottom: 65px;
}

.cloud-management-area-first a.learn-more-btn {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
    color: #F7F7F7;
    padding: 18px 25px 18px 22px;
    border-radius: 5px;
    background-color: #78C370;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 210px;
    justify-content: space-between;
}

.cloud-management-area-first a.learn-more-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cloud-management-area-first .feature-img-container {
    width: 625px;
}
.cloud-management-area-first .feature-img-container h2:first-child {
    font-size: 32px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.cloud-management-app-feature-img {
    margin-bottom: 23px;
}


.cloud-management-area-first .feature-img-container h2:last-child {
    font-weight: 500;
    font-size: 26px;
    line-height: 50px;
    color: #FFF;
}



/* <!-- ------------------------   CLOUD  MANAGEMENT   ------------------------ --> */



.cloud-management-area-second {
    padding: 110px 0 145px;
}
.cloud-management-area-second .container {
    margin: 0 auto;
}
.cloud-management-area-second .cloud-management-content-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.cloud-management-area-second .title-row {
    margin-bottom: 110px;
}
.cloud-management-area-second .title-row h2 {
    font-weight: 600;
    font-size: 44px;
    line-height: 49px;
    margin-bottom: 28px;
    text-align: center;
}
.cloud-management-area-second .sub-title-row {
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    color: #3a3a3a;
    text-align: center;
}
.cloud-management-area-second .single-feature:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 20px;
}
.cloud-management-area-second .feature-container {
    max-width: 585px;
    width: 100%;
    padding: 66px;
    background: #F8F8F8;
    border-radius: 15px;
    margin: 0 20px 0 25px;
}
.cloud-management-area-second .title-area {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.cloud-management-area-second .icon-container {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}
.cloud-management-area-second .feature-container h2 {
    font-weight: 600;
    font-size: 21px;
    line-height: 34px;
}
.cloud-management-area-second .feature-container .content-container {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #58595B;
}
.cloud-management-area-second .feature-img-container {
    width: 100%;
    max-width: 670px;
}